@model IEnumerable<News>
         
@{
  ViewBag.Title = "Lista notizie";
}

<h2>Lista notizie</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
  </tr>
  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Body)
      </td>
      <td>
        @Html.ActionLink("Modifica",    "Edit",     new { id = item.Id }) |
        @Html.ActionLink("Visualizza",  "Details",  new { id = item.Id }) |
        @Html.ActionLink("Cancella",    "Delete",   new { id = item.Id })
      </td>
    </tr>
  }
</table>
